<div class="col-lg-2 col-lg-offset-0 col-md-2 col-lg-offset-0 hidden-sm hidden-xs sidebar">
    <hr>
    <div class="sidebar-aboutme">
        <img src='{{post.baseurl}}/image/hp.jpg'>
        <div>Feagle Frank</div>
    </div>
    <hr>
    <div class="sidebar-catagory">
        <div class="btn-group-vertical btn-block">
            <button type="button" class="btn btn-default">iOS</button>
            <button type="button" class="btn btn-default">PHP</button>
            <button type="button" class="btn btn-default">随笔</button>
        </div>
    </div>
</div>

